h2, .text-center {
    text-align: center;
}

.main-content {
    width: auto;
}

.blog-summary {
    display: grid;
    border-bottom: 1px dashed  #eff0f1;
    padding: 1.5rem;
}
.blog-summary:last-child {
    border-bottom: none;
    margin-bottom: 1rem;

}



.blog-content {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    
}

.blog-content h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

a.blog-summary:hover {
    text-decoration: underline;
}

.blog-content a {
    color: black;
}

.blog-image {
    width: 300px;
    height: auto;
}
